Repository yinjiazeng/docfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css,less,scss,sass}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

commit
  docs/.docfree/temp/data.json
  docs/guide/functions.md
Due: none

commit
  docs/.docfree/temp/data.json
  docs/guide/functions.md
  packages/docfree-loader/src/index.ts
  packages/docfree-webpack/src/CompilePlugin.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-vue/src/index.ts
Due: prettier --write, eslint --fix

v0.2.13
  lerna.json
  packages/docfree-loader/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  packages/docfree-components/src/Props/index.tsx
Due: prettier --write, eslint --fix

v0.2.14
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

v0.2.15
  lerna.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  doc/.docfree/config.js
  docs/index.html
  docs/js/docfree.72776345.js
Due: prettier --write, eslint --fix

commit
  doc/.docfree/temp/data.json
  packages/docfree-components/src/Props/index.tsx
  packages/docfree-loader/src/index.ts
  packages/docfree-prop-types/src/funcTypes.ts
Due: prettier --write, eslint --fix

v0.2.16
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

v0.2.17
  lerna.json
  packages/docfree-loader/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-tip/package.json
Due: none

commit
  doc/.docfree/config.js
  doc/.docfree/temp/data.json
  doc/guide/functions.md
  docs/css/docfree.5aa937c1.css
  docs/index.html
  docs/js/docfree.cca4107c.js
  packages/docfree-components/src/Layout/media.less
  packages/docfree-components/src/Layout/style.less
Due: prettier --write, eslint --fix, stylelint --fix

commit
  doc/.docfree/config.js
  docs/index.html
  docs/js/docfree.e2bd404f.js
Due: prettier --write, eslint --fix

commit
  doc/.docfree/temp/data.json
  doc/guide/functions.md
  docs/css/docfree.88b18648.css
  docs/index.html
  docs/js/docfree.640b9dc6.js
  packages/docfree-components/src/Drawer/style.less
  packages/docfree-components/src/Layout/media.less
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-components/src/style/default.less
Due: prettier --write, eslint --fix, stylelint --fix

v0.2.18
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/index.html
  docs/js/docfree.5629df9c.js
Due: prettier --write, eslint --fix

v0.2.19
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  packages/remark-docfree-valine/src/index.ts
Due: prettier --write, eslint --fix

commit
  packages/remark-docfree-valine/tsconfig.json
Due: none

v0.2.20
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-valine/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-link/package.json
Due: none

commit
  packages/remark-docfree-valine/package.json
Due: none

v0.2.21
  lerna.json
  packages/remark-docfree-valine/package.json
Due: none

commit
  packages/remark-docfree-valine/README.md
Due: none

commit
  doc/.docfree/temp/data.json
  docs/css/docfree.64af39cd.css
  docs/index.html
  docs/js/docfree.2fc9ce94.js
  packages/docfree-components/src/Content/style.less
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parser.ts
  packages/docfree-webpack/src/config.ts
  packages/remark-enhance-image/README.md
  packages/remark-enhance-image/package.json
  packages/remark-enhance-image/src/index.ts
  packages/remark-enhance-image/tsconfig.json
  packages/remark-enhance-link/README.md
  packages/remark-enhance-link/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

v0.3.0
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-valine/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-image/package.json
  packages/remark-enhance-link/package.json
Due: none

commit
  doc/.docfree/temp/data.json
  doc/guide/functions.md
  docs/index.html
  docs/js/docfree.81ac1b24.js
  packages/docfree-utils/src/getConfig.ts
Due: prettier --write, eslint --fix

v0.3.1
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  doc/.docfree/config.js
  docs/index.html
  docs/js/docfree.8ee5fa15.js
Due: prettier --write, eslint --fix

commit
  doc/guide/functions.md
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-utils/src/getConfig.ts
Due: prettier --write, eslint --fix

v0.3.2
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  docs/index.html
  docs/js/docfree.0299a21f.js
Due: prettier --write, eslint --fix

commit
  package.json
  yarn.lock
Due: none

commit
  packages/docfree-components/package.json
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.3.3
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none
