Repository yinjiazeng/docfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css,less,scss,sass}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

commit
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Home/index.tsx
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-components/src/index.ts
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-utils/src/getConfig.ts
Due: prettier --write, eslint --fix

commit
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/BlogEntry/style.less
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Footer/index.tsx
  packages/docfree-components/src/Footer/style.less
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Home/index.tsx
  packages/docfree-components/src/Home/style.less
  packages/docfree-components/src/Layout/style.less
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/Menus/style.less
  packages/docfree-components/src/NotFound/index.tsx
  packages/docfree-components/src/NotFound/style.less
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/Playground/index.tsx
  packages/docfree-components/src/Playground/style.less
  packages/docfree-components/src/PreCode/index.tsx
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-components/src/default.less
  packages/docfree-loader-plugin-tip/src/index.ts
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-utils/src/formatDate.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  packages/docfree-components/src/BlogEntry/index.tsx
Due: prettier --write, eslint --fix

commit
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Header/style.less
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .eslintrc
  packages/docfree-components/package.json
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Home/index.tsx
  packages/docfree-components/src/Props/index.tsx
  packages/docfree-components/src/Props/style.less
  packages/docfree-loader/package.json
  packages/docfree-loader/src/extendLink.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parser.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .eslintrc
  gulpfile.js
  packages/docfree-components/src/AnchorLink/index.tsx
  packages/docfree-components/src/AnchorLinkEnhance/index.tsx
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/default.less
  packages/docfree-components/src/index.ts
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader-plugin-vue/README.md
  packages/docfree-loader-plugin-vue/src/index.ts
  packages/docfree-loader-plugin-vue/tsconfig.json
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parser.ts
  packages/docfree-loader/src/parser.ts2
  packages/docfree-loader/src/typings.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-link/package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .gitignore
  docs/.docfree/config.js
  docs/.docfree/public/index.html
  docs/.docfree/public/logos/nuonuo.png
  docs/.docfree/public/logos/wanke.png
  docs/README.md
  docs/a/README.md
  docs/a/a.md
  docs/b.md
  package.json
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-utils/package.json
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/storage.ts
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: prettier --write, eslint --fix

Update b.md
  docs/b.md
Due: none

commit
  .eslintrc
  docs/.docfree/config.js
  docs/README.md
  package.json
  packages/docfree-loader-plugin-jsx/README.md
  packages/docfree-loader-plugin-jsx/package.json
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader-plugin-tip/README.md
  packages/docfree-loader-plugin-tip/package.json
  packages/docfree-loader-plugin-tip/src/index.ts
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parser.ts
  packages/docfree-loader/src/parser.ts1
  packages/docfree-loader/src/parser.ts2
  packages/docfree-loader/src/typings.ts
  packages/docfree-utils/package.json
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-heading-link/README.md
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-heading-link/tsconfig.json
  packages/remark-docfree-jsx/README.md
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-jsx/tsconfig.json
  packages/remark-docfree-tip/README.md
  packages/remark-docfree-tip/src/index.ts
  packages/remark-docfree-tip/tsconfig.json
  packages/remark-docfree-vue/README.md
  packages/remark-docfree-vue/package.json
  packages/remark-docfree-vue/src/index.ts
  packages/remark-docfree-vue/tsconfig.json
  packages/remark-enhance-link/README.md
  packages/remark-enhance-link/src/index.ts
  packages/remark-enhance-link/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

commit
  docs/.docfree/config.js
  docs/App.vue
  docs/README.md
  package.json
  packages/docfree-components/src/Playground/index.tsx
  packages/docfree-loader/src/extendLink.ts
  packages/docfree-loader/src/parser.ts
  packages/docfree-loader/src/parser.ts1
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-vue/package.json
  packages/remark-docfree-vue/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

commit
  packages/docfree-component-loader/README.md
  packages/docfree-component-loader/package.json
  packages/docfree-component-loader/src/index.ts
  packages/docfree-component-loader/tsconfig.json
  packages/docfree-prop-types/README.md
  packages/docfree-prop-types/package.json
  packages/docfree-prop-types/src/index.ts
  packages/docfree-prop-types/tsconfig.json
  packages/remark-docfree-playground/README.md
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-playground/tsconfig.json
  packages/remark-docfree-props/README.md
  packages/remark-docfree-props/package.json
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-props/tsconfig.json
Due: prettier --write, eslint --fix

commit
  docs/Demo.jsx
  docs/README.md
  docs/a.css
  docs/a.less
  packages/docfree-loader/package.json
  packages/docfree-loader/src/parser.ts
  packages/docfree-utils/src/matchHtml.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  packages/remark-enhance-link/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .eslintrc
  docs/Demo.jsx
  docs/README.md
  packages/docfree-component-loader/package.json
  packages/docfree-component-loader/src/index.ts
  packages/docfree-components/src/BlogEntry/style.less
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Footer/style.less
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Home/style.less
  packages/docfree-components/src/Layout/style.less
  packages/docfree-components/src/Menus/style.less
  packages/docfree-components/src/NotFound/style.less
  packages/docfree-components/src/Playground/style.less
  packages/docfree-components/src/Props/index.tsx
  packages/docfree-components/src/Props/style.less
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-components/src/default.less
  packages/docfree-loader/src/parser.ts
  packages/docfree-loader/src/typings.ts
  packages/docfree-prop-types/package.json
  packages/docfree-prop-types/src/index.ts
  packages/docfree-utils/src/matchHtml.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/package.json
  packages/remark-docfree-props/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/Demo.jsx
  packages/remark-docfree-playground/src/index.ts
Due: prettier --write, eslint --fix

commit
  .eslintrc
  docs/Demo.jsx
  docs/README.md
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Props/index.tsx
  packages/docfree-prop-types/package.json
  packages/docfree-prop-types/src/baseTypes.ts
  packages/docfree-prop-types/src/funcTypes.ts
  packages/docfree-prop-types/src/index.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/typings.ts
  packages/remark-docfree-jsx/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  packages/docfree-component-loader/src/index.ts
Due: prettier --write, eslint --fix

commit
  packages/docfree-components/src/AnchorLinkEnhance/index.tsx
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/Props/index.tsx
  packages/docfree-loader/src/index.ts
  packages/docfree-prop-types/src/funcTypes.ts
  packages/docfree-resolver/src/createBlogRouteEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/resolver.ts
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/getDocPath.ts
  packages/docfree-utils/src/matchHtml.ts
  packages/docfree-utils/src/tempPath.ts
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  packages/remark-enhance-link/src/index.ts
Due: prettier --write, eslint --fix

commit
  docs/.docfree/config2.js
  lerna.json
  package.json
  packages/docfree-generate/README.md
  packages/docfree-generate/package.json
  packages/docfree-generate/src/createBlogRouteEntry.ts
  packages/docfree-generate/src/generate.ts
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-generate/src/generateWatch.ts
  packages/docfree-generate/src/index.ts
  packages/docfree-generate/src/resolveToRoutes.ts
  packages/docfree-generate/src/typings.ts
  packages/docfree-generate/tsconfig.json
  packages/docfree-resolver/src/index.ts
  packages/docfree-template/README.md
  packages/docfree-template/docs/.docfree/config.js
  packages/docfree-template/docs/.docfree/public/index.html
  packages/docfree-template/docs/README.md
  packages/docfree-template/package.json
  packages/docfree/package.json
  packages/docfree/src/command.ts
Due: prettier --write, eslint --fix

commit
  .eslintrc
  .gitignore
  package.json
  packages/docfree-generate/src/generateWatch.ts
  packages/docfree-template/index.js
  packages/docfree-utils/package.json
  packages/docfree-utils/src/getDocPath.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/logger.ts
  packages/docfree/bin.js
  packages/docfree/package.json
  packages/docfree/src/build.ts
  packages/docfree/src/command.ts
  packages/docfree/src/dev.ts
  packages/docfree/src/index.ts
  packages/docfree/src/init.ts
  yarn.lock
Due: prettier --write, eslint --fix

commit
  package.json
  packages/docfree-component-loader/package.json
  packages/docfree-component-loader/src/index.ts
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-generate/src/generateWatch.ts
  packages/docfree-generate/src/resolveToRoutes.ts
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/docs/.docfree/public/index.html
  packages/docfree-utils/package.json
  packages/docfree-utils/src/babelOptions.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/typings.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree/package.json
  packages/docfree/src/init.ts
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/package.json
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-docfree-vue/src/index.ts
  packages/remark-enhance-link/package.json
  yarn.lock
Due: prettier --write, eslint --fix

commit
  packages/docfree-generate/package.json
Due: none

commit
  babel.config.json
  docs/.docfree/config.js
  docs/.docfree/footer.js
  docs/.docfree/public/index.html
  docs/.docfree/theme.js
  package.json
  packages/docfree-components/src/Tip/index.tsx
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-template/docs/.docfree/public/index.html
  packages/docfree-utils/src/babelOptions.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: prettier --write, eslint --fix

commit
  .eslintrc
  docs/README.md
  docs/a.less
  package.json
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/CompileDonePlugin.ts
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .eslintignore
  .prettierignore
  .stylelintignore
  docs/.docfree/dist/css/docfree.90c70e4f.css
  docs/.docfree/dist/css/vendors.73cfd7d3.css
  docs/.docfree/dist/index.html
  docs/.docfree/dist/js/docfree.acef9b21.js
  docs/.docfree/dist/js/runtime.49622537.js
  docs/.docfree/dist/js/vendors.7b1e2752.js
  docs/.docfree/dist/logos/nuonuo.png
  docs/.docfree/dist/logos/wanke.png
  docs/a.less
  package.json
  packages/docfree-utils/package.json
  packages/docfree-utils/src/fsExtra.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/logger.ts
  packages/docfree-utils/src/tempPath.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/CompileDonePlugin.ts
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
  packages/docfree/src/build.ts
  packages/docfree/src/dev.ts
  packages/docfree/src/init.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .gitignore
  docs/.docfree/dist/css/docfree.90c70e4f.css
  docs/.docfree/dist/css/vendors.73cfd7d3.css
  docs/.docfree/dist/index.html
  docs/.docfree/dist/js/docfree.acef9b21.js
  docs/.docfree/dist/js/runtime.49622537.js
  docs/.docfree/dist/js/vendors.7b1e2752.js
  docs/.docfree/dist/logos/nuonuo.png
  docs/.docfree/dist/logos/wanke.png
  packages/docfree-webpack/src/server.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/Demo.tsx
  docs/README.md
  package.json
  packages/docfree-component-loader/src/index.ts
  packages/docfree-utils/src/babelOptions.ts
  packages/docfree-utils/src/logger.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/extToRegexp.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

commit
  babel.config.json
  docs/README1.md
  package.json
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Content/style.less
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-prop-types/src/baseTypes.ts
  packages/docfree-webpack/src/CompileDonePlugin.ts
  packages/remark-docfree-title-edit/README.md
  packages/remark-docfree-title-edit/package.json
  packages/remark-docfree-title-edit/src/index.ts
  packages/remark-docfree-title-edit/tsconfig.json
  packages/remark-docfree-title-toggle/README.md
  packages/remark-docfree-title-toggle/package.json
  packages/remark-docfree-title-toggle/src/index.ts
  packages/remark-docfree-title-toggle/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/.docfree/theme.js
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Props/style.less
  packages/docfree-components/src/default.less
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/Demo.tsx
  docs/README1.md
  packages/docfree-utils/package.json
  packages/docfree-utils/src/index.ts
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-tip/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

commit
  docs/.docfree/temp/data.json
  docs/.docfree/temp/docfree.js
  docs/README1.md
  docs/a/a.md
  docs/b.md
  packages/docfree-components/package.json
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-generate/src/generate.ts
  packages/docfree-generate/src/generateBlogRoutes.ts
  packages/docfree-generate/src/generateData.ts
  packages/docfree-generate/src/generateWatch.ts
  packages/docfree-generate/src/resolveToRoutes.ts
  packages/docfree-generate/src/typings.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/tempData.ts
  packages/docfree-utils/src/tempPath.ts
  packages/docfree/src/init.ts
  packages/remark-docfree-playground/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Update a.md
  docs/a/a.md
Due: none

commit
  .gitignore
  docs/.docfree/config.js
  docs/.docfree/temp/docfree.js
  docs/README.md
  package.json
Due: prettier --write, eslint --fix

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
Due: prettier --write, eslint --fix

commit
  .eslintrc
  global.d.ts
  packages/docfree-component-loader/src/index.ts
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/index.ts
  packages/docfree-generate/src/generateBlogRoutes.ts
  packages/docfree-generate/src/generateData.ts
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-generate/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parser.ts
  packages/docfree-utils/README.md
  packages/docfree-utils/package.json
  packages/docfree-utils/src/formatDate.ts
  packages/docfree-utils/src/formatJSON.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/getDocPath.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/matchHtml.ts
  packages/docfree-utils/src/storage.ts
  packages/docfree-utils/src/tempPath.ts
  packages/docfree-utils/src/typings.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/index.ts
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-tip/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  packages/remark-enhance-link/package.json
  packages/remark-enhance-link/src/index.ts
  yarn-error.log
  yarn.lock
Due: prettier --write, eslint --fix

commit
  yarn-error.log
Due: none

commit
  .eslintrc
  docs/.docfree/config.js
  docs/.docfree/config2.js
  docs/.docfree/temp/data.json
  docs/README1.md
  packages/docfree-components/src/Component/index.tsx
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Tip/index.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-components/src/index.ts
  packages/docfree-loader/package.json
  packages/docfree-loader/src/parser.ts
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-tip/src/index copy.ts
  packages/remark-docfree-tip/src/index.ts
  packages/remark-docfree-title-edit/README.md
  packages/remark-docfree-title-edit/package.json
  packages/remark-docfree-title-edit/src/index.ts
  packages/remark-docfree-title-edit/tsconfig.json
  packages/remark-docfree-title-toggle/README.md
  packages/remark-docfree-title-toggle/package.json
  packages/remark-docfree-title-toggle/src/index.ts
  packages/remark-docfree-title-toggle/tsconfig.json
  packages/remark-docfree-vue/src/index.ts
  packages/remark-enhance-link/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/.docfree/config.js
  docs/.docfree/footer.js
  docs/.docfree/public/logos/nuonuo.png
  docs/.docfree/public/logos/wanke.png
  docs/.docfree/temp/data.json
  docs/.docfree/theme.js
  docs/App.vue
  docs/Demo.tsx
  docs/README1.md
  docs/a.css
  docs/a.less
  docs/a/README.md
  docs/a/a.md
  docs/a/哈哈.md
  docs/b.md
  docs/c.md
  packages/docfree-components/package.json
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Layout/style.less
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/NotFound/index.tsx
  packages/docfree-components/src/NotFound/style.less
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-components/src/default.less
  packages/docfree-generate/src/generateBlogRoutes.ts
  packages/docfree-generate/src/generateData.ts
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-generate/src/generateWatch.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-template/docs/README.md
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
  packages/docfree/src/init.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix
