Repository yinjiazeng/docfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css,less,scss,sass}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

修复IE11报错问题
  packages/docfree-components/src/Content/index.tsx
Due: prettier --write, eslint --fix

v0.4.0
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-valine/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-image/package.json
  packages/remark-enhance-link/package.json
Due: none

commit
  docs/index.html
  docs/js/docfree.ed6c7042.js
  yarn.lock
Due: prettier --write, eslint --fix

commit
  docs/index.html
  docs/js/docfree.1e406385.js
  packages/docfree-utils/src/babelOptions.ts
Due: prettier --write, eslint --fix

commit
  docs/index.html
  docs/js/docfree.ed6c7042.js
Due: prettier --write, eslint --fix

commit
  doc/.docfree/public/index.html
  packages/docfree-utils/src/babelOptions.ts
  yarn.lock
Due: prettier --write, eslint --fix

commit
  .prettierignore
  .stylelintignore
Due: none

commit
  docs/css/docfree.9973e3f2.css
  docs/css/vendors.00e628ee.css
  docs/index.html
  docs/js/docfree.ed6c7042.js
  docs/js/runtime.49622537.js
  docs/js/vendors.e117611a.js
  packages/docfree-utils/src/babelOptions.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  doc/.docfree/public/css/nprogress.css
  doc/.docfree/public/index.html
  doc/.docfree/public/js/nprogress.js
  docs/css/nprogress.css
  docs/index.html
  docs/js/nprogress.js
Due: prettier --write, eslint --fix, stylelint --fix

commit
  doc/.docfree/config.js
  docs/404.html
  docs/js/docfree.33006845.js
  docs/js/docfree.ed6c7042.js
  docs/js/runtime.0b6efd5c.js
  docs/js/runtime.49622537.js
Due: prettier --write, eslint --fix

commit
  doc/.docfree/config.js
  docs/404.html
  docs/index.html
  docs/js/runtime.0b6efd5c.js
  docs/js/runtime.993a6314.js
Due: prettier --write, eslint --fix

commit
  docs/404.html
  docs/js/docfree.33006845.js
  docs/js/docfree.80205be2.js
  docs/js/vendors.fd0b4f76.js
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix

commit
  docs/404.html
  docs/index.html
  docs/js/docfree.80205be2.js
  docs/js/docfree.c5e28cdc.js
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.4.1
  lerna.json
  packages/docfree-generate/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/js/docfree.8dbae8c5.js
  docs/js/docfree.c5e28cdc.js
  docs/js/vendors.9a4c57ee.js
Due: prettier --write, eslint --fix

commit
  .lintstagedrc
  packages/docfree-generate/src/generateEntry.ts
Due: prettier --write, eslint --fix

v0.5.0
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-valine/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-image/package.json
  packages/remark-enhance-link/package.json
Due: none

commit
  docs/404.html
  docs/index.html
  docs/js/docfree.8dbae8c5.js
  docs/js/docfree.fd5c4c11.js
Due: prettier --write, eslint --fix

commit
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Layout/media.less
Due: prettier --write, stylelint --fix

v0.5.1
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/css/docfree.9973e3f2.css
  docs/css/docfree.ce916be5.css
  docs/index.html
  docs/js/docfree.532bec6f.js
  docs/js/docfree.fd5c4c11.js
Due: prettier --write, eslint --fix, stylelint --fix

commit
  packages/docfree-generate/src/generateEntry.ts
Due: prettier --write, eslint --fix

v0.5.2
  lerna.json
  packages/docfree-generate/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/index.html
  docs/js/docfree.1573152b.js
  docs/js/docfree.532bec6f.js
Due: prettier --write, eslint --fix

v0.5.3
  lerna.json
  packages/docfree-generate/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/index.html
  docs/js/docfree.1573152b.js
  docs/js/docfree.f9d649ae.js
Due: prettier --write, eslint --fix

v0.5.4
  lerna.json
  packages/docfree-generate/package.json
  packages/docfree/package.json
Due: none

commit
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix

v0.5.5
  lerna.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/index.html
  docs/js/docfree.b72adccd.js
  docs/js/docfree.f9d649ae.js
Due: prettier --write, eslint --fix

更新样式
  packages/docfree-components/src/Sidebar/style.less
Due: prettier --write, stylelint --fix

v0.5.6
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/css/docfree.352c7216.css
  docs/css/docfree.ce916be5.css
  docs/index.html
  docs/js/docfree.b72adccd.js
  docs/js/docfree.f58b3e39.js
Due: prettier --write, eslint --fix, stylelint --fix

commit
  packages/docfree-component-loader/src/index.ts
Due: prettier --write, eslint --fix

v0.5.7
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/404.html
  docs/index.html
  docs/js/docfree.f58b3e39.js
  docs/js/docfree.f5e957f7.js
Due: prettier --write, eslint --fix
