Repository yinjiazeng/docfree: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{css,less,scss,sass}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

commit
  packages/docfree-components/src/BlogEntry/index.tsx
Due: prettier --write, eslint --fix

commit
  .eslintrc
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/a/哈哈.md
  gulpfile.js
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/BlogEntry/style.less
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Footer/style.less
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Home/style.less
  packages/docfree-components/src/Layout/style.less
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/Menus/style.less
  packages/docfree-components/src/NotFound/style.less
  packages/docfree-components/src/Playground/style.less
  packages/docfree-components/src/Props/style.less
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-components/src/default.less
  packages/docfree-components/src/style/default.less
  packages/docfree-components/src/style/lang.less
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .eslintrc
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/README.md
  docs/b.md
  packages/docfree-components/src/AnchorLinkEnhance/index.tsx
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Header/Nav.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-generate/src/generateBlogRoutes.ts
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
  packages/remark-docfree-jsx/src/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/c.md
Due: prettier --write, eslint --fix

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/a/README.md
  docs/a/哈哈.md
  packages/docfree-components/src/AnchorLinkEnhance/index.tsx
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix, stylelint --fix

commit
  docs/.docfree/temp/data.json
  packages/docfree-component-loader/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-tip/src/index copy.ts
  packages/remark-docfree-vue/src/index.ts
Due: prettier --write, eslint --fix

commit
  docs/.docfree/temp/data.json
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/CompilePlugin.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
Due: prettier --write, eslint --fix

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/README.md
  packages/docfree-loader/src/parser.ts
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-jsx/src/index.ts
  packages/remark-docfree-playground/src/index.ts
  packages/remark-docfree-props/src/index.ts
  packages/remark-docfree-tip/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  packages/remark-enhance-link/src/index.ts
Due: prettier --write, eslint --fix

commit
  .eslintignore
  docs/.docfree/temp/data.json
Due: none

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/README.md
  docs/a/README.md
  docs/b.md
  docs/c.md
  docs/guide/Demo.jsx
  docs/guide/README.md
  docs/guide/button-counter.vue
  docs/guide/functions.md
  docs/guide/style.module.less
  package.json
  packages/docfree-components/src/Content/style.less
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Home/index.tsx
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-template/docs/.docfree/config.js
  packages/docfree-template/docs/README.md
  packages/docfree-template/docs/guide/README.md
  packages/docfree-template/docs/guide/functions.md
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-heading-link/src/index.ts
  packages/remark-docfree-vue/src/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

v0.2.0-alpha.0
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-link/package.json
Due: none

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/README.md
  docs/guide/README.md
  docs/guide/functions.md
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-template/index.js
  packages/docfree-template/package.json
  packages/docfree-utils/src/babelOptions.ts
  packages/docfree-utils/src/storage.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  packages/docfree/src/init.ts
  packages/remark-docfree-tip/src/index.ts
Due: prettier --write, eslint --fix

v0.2.1-alpha.0
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  package.json
  packages/docfree-utils/package.json
  packages/docfree/src/init.ts
  yarn.lock
Due: prettier --write, eslint --fix

v0.2.2-alpha.0
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  .eslintignore
  .gitignore
  docs/.docfree/temp/docfree.js
  packages/docfree-generate/src/generate.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree/src/init.ts
Due: prettier --write, eslint --fix

v0.2.3-alpha.0
  lerna.json
  packages/docfree-generate/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix

v0.2.4-alpha.0
  lerna.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

v0.2.5-alpha.0
  lerna.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  packages/docfree-utils/package.json
  yarn.lock
Due: none

v0.2.5
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  .eslintrc
  .gitignore
  docs/.docfree/temp/docfree.js
  package.json
  packages/docfree-components/package.json
  packages/docfree-components/src/AnchorLink/index.tsx
  packages/docfree-components/src/AnchorLinkEnhance/index.tsx
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Home/index.tsx
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/NotFound/index.tsx
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/Playground/index.tsx
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-components/src/components.js
  packages/docfree-components/src/style/default.less
  packages/docfree-components/tsconfig.json
  packages/docfree-generate/src/generate.ts
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-webpack/src/config.ts
  packages/remark-docfree-tip/src/index.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

commit
  .eslintignore
  .gitignore
  docs/.docfree/temp/docfree.js
Due: prettier --write, eslint --fix

v0.2.6
  lerna.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-tip/package.json
Due: none

commit
  README.md
  packages/docfree-component-loader/README.md
  packages/docfree-components/README.md
  packages/docfree-generate/src/generateEntry.ts
  packages/docfree-loader/README.md
  packages/docfree-loader/src/index.ts
  packages/docfree-prop-types/README.md
  packages/docfree-template/README.md
  packages/docfree-template/docs/README.md
  packages/docfree-template/docs/guide/README.md
  packages/docfree-template/docs/guide/functions.md
  packages/docfree-utils/README.md
  packages/docfree-webpack/README.md
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  packages/docfree/README.md
  packages/remark-docfree-heading-link/README.md
  packages/remark-docfree-jsx/README.md
  packages/remark-docfree-playground/README.md
  packages/remark-docfree-props/README.md
  packages/remark-docfree-tip/README.md
  packages/remark-docfree-vue/README.md
  packages/remark-enhance-link/README.md
Due: prettier --write, eslint --fix

v0.2.7
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-template/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
  packages/remark-enhance-link/package.json
Due: none

commit
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix

v0.2.8
  lerna.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

v0.2.9
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  packages/docfree-loader/src/parser.ts
  packages/remark-docfree-tip/package.json
  packages/remark-docfree-tip/src/index.ts
Due: prettier --write, eslint --fix

v0.2.10
  lerna.json
  packages/docfree-loader/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-tip/package.json
Due: none

commit
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/src/config.ts
Due: prettier --write, eslint --fix

v0.2.11
  lerna.json
  packages/docfree-component-loader/package.json
  packages/docfree-components/package.json
  packages/docfree-generate/package.json
  packages/docfree-loader/package.json
  packages/docfree-prop-types/package.json
  packages/docfree-utils/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
  packages/remark-docfree-heading-link/package.json
  packages/remark-docfree-jsx/package.json
  packages/remark-docfree-playground/package.json
  packages/remark-docfree-props/package.json
  packages/remark-docfree-vue/package.json
Due: none

commit
  docs/.docfree/config.js
  docs/.docfree/temp/data.json
  docs/guide/functions.md
  packages/docfree-loader/package.json
  packages/docfree-loader/src/parser.ts
Due: prettier --write, eslint --fix

commit
  docs/guide/functions.md
Due: none

v0.2.12
  lerna.json
  packages/docfree-loader/package.json
  packages/docfree-webpack/package.json
  packages/docfree/package.json
Due: none

commit
  docs/.docfree/temp/data.json
  docs/guide/functions.md
Due: none
