Repository yinjiazeng/docfree: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint1 --fix, stylelint --fix

commit
  packages/docfree/src/index.ts
Due: eslint1 --fix

commit
  .lintstagedrc
  package.json
  packages/docfree/src/index.ts
Due: eslint1 --fix

commit
  .eslintrc
  .lintstagedrc
  .prettierrc
  package.json
  packages/docfree/src/a.css
  packages/docfree/src/index.ts
  yarn.lock
Due: eslint1 --fix, stylelint --fix

commit
  .eslintrc
  .lintstagedrc
Due: none

commit
  .eslintrc
  .lintstagedrc
  .prettierrc
  packages/docfree/src/index.ts
Due: eslint1 --fix

commit
  .eslintrc
  babel.config.json
  global.d.ts
  lerna.json
  package.json
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/README.md
  packages/docfree-resolver/package.json
  packages/docfree-resolver/src/index.ts
  packages/docfree-resolver/src/resolver.ts
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-resolver/src/typings.ts
  packages/docfree-resolver/src/utils.ts
  packages/docfree-utils/package.json
  packages/docfree-utils/src/index.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/index.ts
  packages/docfree/package.json
  packages/docfree/src/a.css
  packages/docfree/src/bin.ts
  packages/docfree/src/index.ts
  tsconfig.json
  yarn.lock
Due: eslint1 --fix, stylelint --fix

commit
  .eslintrc
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/index.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/resolver.ts
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-resolver/src/utils.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/getDocPath.ts
  packages/docfree-utils/src/index.ts
  packages/docfree/src/bin.ts
Due: eslint1 --fix

commit
  .eslintrc
  package.json
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/createBlogRouteEntry.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-resolver/src/typings.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/typings.ts
Due: eslint1 --fix

commit
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseHeader.ts
  packages/docfree-resolver/src/generateEntry.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseHeader.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-loader/src/typings.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-loader-jsx/package.json
  packages/docfree-loader-vue/package.json
Due: none

commit
  .eslintignore
  .prettierignore
  .stylelintignore
  global.d.ts
  package.json
  packages/docfree-components/package.json
  packages/docfree-components/tsconfig.json
  packages/docfree-loader-jsx/package.json
  packages/docfree-loader-jsx/tsconfig.json
  packages/docfree-loader-vue/tsconfig.json
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-loader/tsconfig.json
  packages/docfree-resolver/package.json
  packages/docfree-resolver/tsconfig.json
  packages/docfree-utils/package.json
  packages/docfree-utils/tsconfig.json
  packages/docfree-webpack/tsconfig.json
  packages/docfree/package.json
  packages/docfree/src/bin.ts
  packages/docfree/tsconfig.json
  tsconfig.json
Due: eslint1 --fix

commit
  packages/docfree-webpack/package.json
Due: none

commit
  packages/docfree-loader-jsx/package.json
  packages/docfree-loader-jsx/src/index.ts
  packages/docfree-loader-vue/package.json
  packages/docfree-loader-vue/src/index.ts
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-loader-jsx/package.json
  packages/docfree-loader-jsx/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-resolver/src/generateEntry.ts
  yarn.lock
Due: eslint1 --fix

commit
  package.json
  packages/docfree-resolver/src/resolver.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/dev.ts
  packages/docfree-webpack/src/extToRegexp.ts
  packages/docfree-webpack/src/index.ts
  packages/docfree-webpack/src/webpack.ts
  packages/docfree/src/bin.ts
  yarn.lock
Due: eslint1 --fix

commit
  package.json
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-utils/package.json
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/typings.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/dev.ts
  packages/docfree-webpack/src/webpack.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-loader-jsx/README.md
  packages/docfree-loader-vue/README.md
  packages/docfree-loader/src/index.ts
  packages/docfree-webpack/src/dev.ts
Due: eslint1 --fix

commit
  .gitignore
  package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/resolver.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/typings.ts
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/index.ts
  packages/docfree-webpack/src/server.ts
  packages/docfree/package.json
  packages/docfree/src/bin.ts
Due: eslint1 --fix

commit
  babel.config.json
  package.json
  packages/docfree-components/package.json
  packages/docfree-components/src/index.ts
  packages/docfree-components/src/index.tsx
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-utils/src/formatJSON.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/logger.ts
  packages/docfree-utils/src/typings.ts
  packages/docfree-webpack/src/CompileDonePlugin.ts
  packages/docfree-webpack/src/build.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-components/src/index.tsx
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-components/src/index.tsx
  packages/docfree-loader-jsx/src/index.ts
  packages/docfree-loader-plugin-jsx/README.md
  packages/docfree-loader-plugin-jsx/package.json
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader-plugin-jsx/tsconfig.json
  packages/docfree-loader-plugin-vue/README.md
  packages/docfree-loader-plugin-vue/package.json
  packages/docfree-loader-plugin-vue/src/index.ts
  packages/docfree-loader-plugin-vue/tsconfig.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/matchHtml.ts
  packages/docfree-webpack/package.json
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-components/src/index.tsx
  packages/docfree-loader-plugin-jsx/package.json
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolver.ts
  packages/docfree-utils/src/fsExtra.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/index.ts
  packages/docfree-utils/src/tempPath.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
  packages/docfree/src/bin.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-loader/src/typings.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-resolver/src/typings.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/src/config.ts
  packages/docfree-webpack/src/server.ts
Due: eslint1 --fix

commit
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-utils/src/getConfig.ts
Due: eslint1 --fix

commit
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/resolveToRoutes.ts
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-resolver/src/typings.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
Due: eslint1 --fix

commit
  packages/docfree-components/demo.css
  packages/docfree-components/package.json
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/HashLink/index.tsx
  packages/docfree-components/src/Layout/index.tsx
  packages/docfree-components/src/NotFound/index.tsx
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/Playground/index.tsx
  packages/docfree-components/src/PropsTable/index.tsx
  packages/docfree-components/src/index.ts
  packages/docfree-components/src/index.tsx
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: eslint1 --fix, stylelint --fix

commit
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/package.json
  packages/docfree-webpack/src/config.ts
Due: eslint1 --fix

commit
  packages/docfree-components/src/Alert/index.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-components/src/index.ts
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-resolver/src/generateEntry.ts
Due: eslint1 --fix

commit
  babel.config.json
  package.json
  packages/docfree-components/src/Alert/index.tsx
  packages/docfree-components/src/BrowserLink/index.tsx
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/HashLink/index.tsx
  packages/docfree-components/src/Playground/Code.tsx
  packages/docfree-components/src/PreCode/index.tsx
  packages/docfree-components/src/Tip/index.tsx
  packages/docfree-components/src/index.ts
  packages/docfree-loader-plugin-jsx/src/index.ts
  packages/docfree-loader-plugin-tip/README.md
  packages/docfree-loader-plugin-tip/package.json
  packages/docfree-loader-plugin-tip/src/index.ts
  packages/docfree-loader-plugin-tip/tsconfig.json
  packages/docfree-loader/package.json
  packages/docfree-loader/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-webpack/src/config.ts
  yarn.lock
Due: eslint1 --fix

commit
  packages/docfree-components/src/EventHashLink/index.tsx
  packages/docfree-components/src/HashLink/index.tsx
  packages/docfree-components/src/index.ts
  packages/docfree-loader/src/parseMarkdown.ts
Due: eslint1 --fix

commit
  packages/docfree-components/src/BlogEntry/index.tsx
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/HashLink/index.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-resolver/src/typings.ts
Due: eslint1 --fix

commit
  .eslintrc
  packages/docfree-components/component.d.ts
  packages/docfree-components/package.json
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Footer/index.tsx
  packages/docfree-components/src/Header/Nav.tsx
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Layout/index.tsx
  packages/docfree-components/src/Layout/style.module.less
  packages/docfree-components/src/Props/index.tsx
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-components/src/antd.ts
  packages/docfree-components/src/index.ts
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-utils/src/getConfig.ts
  packages/docfree-utils/src/typings.ts
  yarn.lock
Due: eslint1 --fix, stylelint --fix

commit
  gulpfile.js
  package.json
  yarn.lock
Due: eslint1 --fix

commit
  gulpfile.js
  scripts/build.js
  scripts/dev.js
Due: eslint1 --fix

commit
  packages/docfree-resolver/src/resolverWatch.ts
  packages/docfree-webpack/src/server.ts
  packages/docfree/bin.js
  packages/docfree/package.json
  packages/docfree/src/command.ts
Due: eslint1 --fix

commit
  packages/docfree-components/src/HashLink/index.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Header/style.module.less
  packages/docfree-components/src/Layout/index.tsx
  packages/docfree-components/src/NotFound/index.tsx
  packages/docfree-components/src/Sidebar/Menus.tsx
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-components/src/Sidebar/style.module.less
  packages/docfree-components/src/antd.ts
  packages/docfree-resolver/src/generateEntry.ts
Due: eslint1 --fix, stylelint --fix

commit
  packages/docfree-components/src/Content/index.tsx
  packages/docfree-components/src/Header/Nav.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/Sidebar/Menus.tsx
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-loader/src/index.ts
  packages/docfree-resolver/src/generateEntry.ts
Due: eslint1 --fix

commit
  packages/docfree-components/src/Header/Search.tsx
  packages/docfree-components/src/Header/index.tsx
  packages/docfree-components/src/Header/style.less
  packages/docfree-components/src/Header/style.module.less
  packages/docfree-components/src/Layout/index.tsx
  packages/docfree-components/src/Layout/style.less
  packages/docfree-components/src/Menus/index.tsx
  packages/docfree-components/src/Menus/style.less
  packages/docfree-components/src/Sidebar/index.tsx
  packages/docfree-components/src/Sidebar/style.less
  packages/docfree-components/src/Sidebar/style.module.less
  packages/docfree-components/src/antd.ts
  packages/docfree-resolver/src/generateEntry.ts
  packages/docfree-webpack/src/server.ts
Due: eslint1 --fix, stylelint --fix

Path conditions:
  eslint1 --fix: any of: **/*.{js,ts,jsx,tsx}
  stylelint --fix: any of: **/*.{css,less,scss,sass}
